<div class="h-screen overflow-hidden bg-white">

  <div class=" bg-white shadow-lg flex flex-col overflow-hidden">

    <!-- HEADER -->
     <div class="flex items-center bg-gray-100 px-6 py-4 text-black">
        <div
          class="w-8 h-8 
                 bg-gradient-to-br from-blue-500 to-indigo-600
                 flex items-center justify-center shadow-lg "
        >

          <lucide-icon
            [img]="user"
            class="w-8 h-8 text-white"
          >
          </lucide-icon>

        </div>

      <div class="px-3">
      <h1 class="text-[20px] font-bold">
        Storeroom Registration
      </h1>

      <p class="text-sm  mt-1">
        Create and manage your enterprise profile
      </p>
      </div>

    </div>

    <!-- STEPPER -->
    <div class="px-6 py-3 bg-gray-50">

      <div class="flex items-center justify-between">

        <div
          *ngFor="let step of steps; let i = index"
          class="flex items-center flex-1"
        >

          <!-- STEP -->
          <div class="flex flex-col items-center">

            <div
              class="w-10 h-10 rounded-full flex items-center justify-center text-sm font-bold transition-all"
              [ngClass]="
                currentStep >= step.id
                ? 'bg-blue-600 text-white'
                : 'bg-gray-300 text-gray-700'
              "
            >
              {{ step.id }}
            </div>

            <span
              class="mt-2 text-xs font-medium"
              [ngClass]="
                currentStep >= step.id
                ? 'text-blue-600'
                : 'text-gray-500'
              "
            >
              {{ step.label }}
            </span>

          </div>

          <!-- LINE -->
          <div
            *ngIf="i < steps.length - 1"
            class="flex-1 h-1 mx-2 rounded-full"
            [ngClass]="
              currentStep > step.id
              ? 'bg-blue-600'
              : 'bg-gray-300'
            "
          ></div>

        </div>

      </div>

    </div>

    <!-- BODY -->
    <div class="flex-1 overflow-y-auto p-6">

      <!-- STEP 1 -->
      <div *ngIf="currentStep === 1">

          <app-dynamic-form
    [form]="form"
    [fields]="basicInformationFields">
  </app-dynamic-form>

      </div>

      <!-- STEP 2 : ADDRESS -->

      <div *ngIf="currentStep === 2">

 <app-dynamic-form
    [form]="form"
    [fields]="addressInformationFields"
    (fieldAction)="onFieldAction($event)"
    >
  </app-dynamic-form>

</div>



<div *ngIf="currentStep === 3">
 <app-dynamic-form
    [form]="form"
    [fields]="contactInformationFields">
  </app-dynamic-form>

</div>


<!-- <div *ngIf="currentStep === 4">

 <app-dynamic-form
    [form]="form"
    [fields]="costInformationFields">
  </app-dynamic-form>

</div> -->

<!-- STEP 4 : REVIEW -->

<div *ngIf="currentStep === 4">

  <div class="grid grid-cols-2 gap-4">

    <!-- Basic -->
    <div class="border p-4">
      <h3 class="font-bold mb-2">Basic Information</h3>

      <p><b>Storeroom Code:</b> {{form.value.storeroomCode}}</p>
      <p><b>Storeroom Name:</b> {{form.value.storeroomName}}</p>
      <p><b>Site:</b> {{form.value.site}}</p>
      <p><b>Location:</b> {{form.value.location}}</p>

    </div>

    <!-- Contact -->
    <div class="border p-4">
      <h3 class="font-bold mb-2">Contact Information</h3>

      <p><b>Contact Person:</b> {{form.value.contactPerson}}</p>
      <p><b>Mobile:</b> {{form.value.mobileNumber}}</p>
      <p><b>Email:</b> {{form.value.email}}</p>

    </div>

    <!-- Cost -->
    <div class="border p-4">
      <h3 class="font-bold mb-2">Address Information</h3>

      <p><b>Address:</b> {{form.value.address1}}</p>
      <p><b>Country:</b> {{form.value.country}}</p>
      <p><b>State:</b> {{form.value.state}}</p>
      <p><b>City:</b> {{form.value.city}}</p>

    </div>

    <!-- Status -->
    <div class="border p-4">
      <h3 class="font-bold mb-2">Status</h3>

      <p><b>Active:</b> {{form.value.status}}</p>


    </div>

  </div>

</div>

    </div>

    <!-- FOOTER -->
    <div class="bg-gray-50 px-6 py-3 flex justify-between">

      <button
        type="button"
        (click)="prevStep()"
        class="px-5 py-2 border  hover:bg-gray-100"
      >
        Previous
      </button>

      <div class="flex gap-3">

        <!-- <button
          type="button"
          class="px-5 py-2 bg-gray-200  hover:bg-gray-300"
        >
          Save Draft
        </button> -->

        <button
          *ngIf="currentStep < steps.length"
          type="button"
          (click)="nextStep()"
          class="px-6 py-2 bg-blue-600 text-white  hover:bg-blue-700"
        >
          Next
        </button>

        <button
          *ngIf="currentStep === steps.length"
          type="button"
          (click)="submit()"
          class="px-6 py-2 bg-green-600 text-white  hover:bg-green-700"
        >
         {{ form.value.storeroomName ? "Update" : "Submit"}} 
        </button>

      </div>

    </div>

  </div>

</div>

<app-message-box
  [title]="messageTitle"
  [message]="messageText"
  [visible]="showMessageBox"
  (onConfirm)="confirmredirect()"
  (onCancel)="showMessageBox = false">
</app-message-box>